---
layout: 2017_default
permalink: /faqs
<!--for local test, set permalink: /SinoUK2022/faqs -->
title: Poster List
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1 class="title">{{ page.title }}</h1>

      <p>Below is a list of selected posters.<p>
        <ol>
            {% for faq in site.data.twenty_17.faqs %}
                <li><b>{{ faq.question }}</b>
                    <br>{{ faq.answer }}<br>
                    {% ifequal  faq.link null %}
                        <br><a href = {{ faq.link }} target="_blank">PDF</a><br><br>
                    {% endifequal %}    
                </li>
            {% endfor %}
        </ol>
        <p>
            Online versions will be available soon.
            For your interests, register the workshop and meet the keynote speakers and poster authors in person!
            For further poster enquiries, kindly send us an email at <a href="mailto:gx21@leicester.ac.uk">gx21@leicester.ac.uk</a> 
        </p>
    </div>