<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">AIDAM Winter AI Workshop 2022<br></div>
                <br></br>
                <br></br>
                <div class="intro-lead-in">Friday, 9th December 2022</div>
                <div class="intro-lead-in">College Court, Leicester, UK</div>
                <a href="https://www.eventbrite.co.uk/e/university-of-leicester-aidam-winter-ai-workshop-2022-tickets-460714648917" target="_blank" class="page-scroll btn btn-xl">Registration</a> <a href="#speakers" class="page-scroll btn btn-xl">Speakers</a>
            </div>
        </div>
    </header>

    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>